@font-face {
  font-family: manrope;
  src: url(../fonts/manrope-regular.ttf);
}

body {
  background-color: #444444;
}

.main {
  font-family: 'manrope', sans-serif;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main #name {
  font-size: 62px;
  font-weight: 500;
  color: #FFCCDF;
}

.main button {
  font-family: inherit;
  font-style: inherit;
  background-color: Transparent;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  color: #FFCCDF;
  border: 2px solid #FFCCDF;
  border-radius: 50px;
}

.main button:hover {
  background-color: #FFCCDF;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}
